.home-container {
  height: 100%;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 15% auto;
  grid-template-areas:
    "selected-topic none none"
    "first-section second-section third-section";
}

.music-topic,
.movie-topic,
.design-topic {
  grid-area: selected-topic;
  position: relative;
}

.sub-topic-header {
  position: absolute;
  left: 500;
  top: 50;
}

.first {
  grid-area: first-section;
}

.second {
  grid-area: second-section;
}

.third {
  grid-area: third-section;
}

.hidden {
  display: none;
}

.bubble {
  text-align: center;
  color: lightgrey;
  background-color: rgb(19, 18, 18);
  border: 1px solid rgb(19, 18, 18);
  height: 200px;
  width: 200px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
  border-top-left-radius: 150px;
  margin: 15px;
  position: relative;
}

.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bubble:hover {
  color: black;
  background-color: rgb(233, 233, 233);
}

.bubble-title {
  padding-top: 60px;
}
