body {
  font-family: josefin sans;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
}

.main-container > * {
  padding: 10px;
  flex: 1 100%;
}

.header-section {
  height: 100px;
  width: 100%;
}

@media all and (min-width: 600px) {
  .nav-section {
    flex: 1 0 0;
    height: 700px;
    width: 10%;
  }
}

@media all and (min-width: 800px) {
  .content-section {
    flex: 3 0px;
  }
  .nav-section {
    order: 1;
  }
  .content-section {
    order: 2;
  }
  footer {
    order: 4;
  }
}

header,
footer,
aside,
section {
  border: 1px solid black;
}

.bubble {
  height: 50%;
  width: 50%;
}

.collapse {
  height: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 2%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.hoepen-logo {
  height: 100%;
}

.bubble-seperator {
  width: 80%;
}
